:root {
    --firstColor: #1809bd;
    --secondColor: #fdca32;
    --whiteColor: #fff;
    --balckColor: #222;
    --softGreenColor: #d3e3ff;
    --darkGreyColor: #a7a7a7;
    --greyColor: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
}

.logo {
    color: #fdca32;
}

.sidebar {
    height: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2%;
    background-color: var(--firstColor);
    color: var(--whiteColor);
}

.sidebar-menus {
    display: flex;
    flex-direction: column;
}

.sidebar-menus a , .sidebar-logout a {
    padding: 5% 8%;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    text-decoration: none;
    color: var(--whiteColor);
}

.sidebar-menus a ion-icon , .sidebar-logout a ion-icon {
    font-size: 20px;
}

.sidebar-menus a:hover , .sidebar-logout a:hover {
    background-color: var(--secondColor);
    border-radius: 50px;
    color: #1809bd;
}

.main {
    width: 100%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    background-color: var(--softGreenColor);
    margin-left: 250px;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* will hide menu toggle first, this one will appear on mobile screen later */
.menu-toggle {
    display: none;
}

.search {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    background-color: var(--whiteColor);
    border-radius: 20px;
}

.search input {
    width: 80%;
    height: 100%;
    padding: 20px;
    border: none;
    border-radius: 20px;
}

.search-btn {
    background-color: var(--secondColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 20px;
    width: 120px;
    cursor: pointer;
    color: #1809bd;
}

.search:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.search-btn:hover {
    background-color: var(--firstColor);
    color: var(--secondColor);
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart, .user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--whiteColor);
    font-size: 20px;
    color: var(--firstColor);
    text-decoration: none;
    padding: 0 10px;
    height: 40px;
    border-radius: 50%;
}

.cart:hover, .user:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
}

.main-highlight {
    margin: 3% 0;
    padding: 2%;
    background-color: var(--secondColor);
    border-radius: 8px;
}

.main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-title {
    font-size: 20px;
    color: var(--firstColor);
}

.main-arrow {
    font-size: 20px;
}

.voltar, .proximo {
    cursor: pointer;
    color: var(--firstColor);
    background-color: var(--secondColor);
    font-size: 30px;
    text-decoration: none;
    padding: 0;
    height: 30px;
    border-radius: 50%;
}

.voltar:hover , .proximo:hover {
    color: var(--secondColor);
    background-color: var(--firstColor);
}

.highlight-wrapper{
    width: 100%;
    display: flex;
    padding: 1%;
    border-radius: 8px;
    gap: 1rem;
    overflow-x: hidden;
}

.highlight-card {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    width: 80%;
    height: 100%;
    gap: 1rem;
    border-radius: 8px;
    padding: 1%;
    background-color: var(--greyColor);
    cursor: pointer;
}

.highlight-img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
}

.highlight-desc h4{
    color: var(--firstColor);
}

.highlight-desc p{
    color: var(--balckColor);
    font-size: 14px;
}

.highlight-desc h4, p {
    align-items: center;
    display: flex;
    margin-top: 3px;
}
